@model IEnumerable<PlinePager.Models.TblAgent>

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery _xsrf
@functions {

    private string GetAntiXsrfRequestToken()
    {
        return _xsrf.GetAndStoreTokens(Context).RequestToken;
    }

}

<div class="row">
    <div class="col-10 offset-1">
        <h3>لیست پیجرها</h3>
        <hr />
        <p>
            <a class="btn btn-primary" asp-action="Create">ایجاد پیجر جدید</a>
        </p>
        <hr />
        <style type="text/css">
            .gCol {
                text-align: center;
            }
        </style>


        @Html.AjaxGrid(Url.Action("Index"))
    </div>
</div>


<script type="text/javascript">
    function DeleteItem(id){
        if (confirm("برای حذف این آیتم مطمئن هستید؟")){
            var token="@GetAntiXsrfRequestToken()";
            $.post("@Url.Action("Delete", "Agents")",{id:id , __RequestVerificationToken:token},
                function (data){
                    if (data.error !== ""){
                        toastNotifyError(data.error);
                    }else {
                        location.reload();
                    }
                },"JSON");
            }
        }
</script>